body{
    background-color: #01004C;
    color: whitesmoke
}
.pageTitle{
    text-align: center;
    margin-top: 0%;
}

/*to center my background image with a fixed postion*/
#bg{
    display: block; 
    object-fit: cover; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; height: 100%; 
    max-height: auto; 
    position: fixed;
   
}
#button_hover{
    padding: 4px 10px;
    border: 5px solid whitesmoke;
    cursor: pointer;
}


